.task-container-body{
    padding-bottom: 0 !important;
    }
    .card{
    overflow: hidden;
    }
    
    .card-desc{
    color: rgba(95, 94, 94, 0.854);
    height:80px;
    overflow-y:scroll;
    }
    .bottom-action-container{
    border-top: 1px solid rgba(178, 178, 178, 0.854);
    justify-content: space-evenly;
    height:45px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    }
    .left-action-block {
    flex-grow: inherit;
    height: 100%;
    border-right: 1px solid rgba(178, 178, 178, 0.854);
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .left-action-block a{
    text-decoration: none;
    align-items: center;
    color: black;
    cursor: pointer;
    }
    .left-action-block:hover a{
    color: rgb(243, 206, 24);
    
    }
    
    .right-action-block{
    flex-grow: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    }
    
    .right-action-block button{
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    }
    
    .right-action-block button:hover{
    color: red;
    }
    
    ::-webkit-scrollbar {
    width: 5px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 10px;
    }